gTTS==1.2.2
oauth2client==4.1.2
pyOpenSSL==17.3.0
python_dateutil==2.6.1
kik==1.5.0
google-api-python-client==1.6.4
pytz==2017.2
tzlocal==1.4
Flask==0.12.2
Werkzeug==0.12.2
psutil==5.3.1
Pygame==1.9.3
scikit-image==0.13.1
Pillow==2.2.1
numpy==1.13.3
PeakUtils==1.1.0
PyAudio==0.2.11
pocketsphinx==0.1.3
